@charset "utf-8";
@import url("https://use.typekit.net/ulw0ccy.css");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

div.attr {
  font-family: "Fira Code", monospace;
  font-size: 0.95rem;
}

body {
  font-family: pt-sans-pro, sans-serif;
  font-size: 13pt;
  font-weight: 300;
  line-height: 19pt;
  margin: 0 auto;
}

pre {
  font-family: "Fira Code", monospace;
  font-variant-ligatures: common-ligatures;
  padding: 1rem;
  margin: 1rem auto;
}
